<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/city.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            background-image: url("/img/lucknow.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>
    <!-- Header Section -->
    <nav class="nav">
        <a href="#" class="logo">
            <img src="/img/logo1.png" class="logo" alt="" height="100px">
        </a>

        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>

        <div class="nav__link hide">
            <a href="/home">home</a>
            <a href="/cities">City Guide</a>
            <a href="/foodfes">Food Fest</a>
            <a href="/stories">Stories</a>
            <a href="/logout">Log-Out</a>

        </div>
    </nav>
    <!-- City Section -->
    <h1 class="welcomeHeading" id="note">Lucknow, India</h1>
    <p class="temp">
        <%= temperature %>&#176 Celsius
            <%= weatherDesc %>
    </p>
    <div class="container">
        <p class="paragraph">Lucknow, a large city in northern India, is the capital of the state of Uttar Pradesh. Toward its center is Rumi Darwaza, a Mughal gateway. Nearby, the 18th-century Bara Imambara shrine has a huge arched hall. Upstairs, Bhool Bhulaiya is a maze
            of narrow tunnels with city views from its upper balconies. Close by, the grand Victorian Husainabad Clock Tower was built as a victory column in 1881.</p>
        <p class="paragraph">The Awadh region has its own distinct Nawabi-style cuisine. Since ages, the Bawarchis (chefs) and Rakabdars (royal chefs) have developed great finesse in cooking and presentation of food, under royal patronage. These Bawarchis added elaborately
            prepared dishes like kababs, kormas, kaliya, nahari-kulchas, zarda, sheermal, roomali rotis and warqi parathas to the traditional "Awadhi" dastarkhwaan (feast of dishes).</p>
    </div>

    <!-- Footer Section -->
    <div class="footerSection">
        <div class="footerItem">
            <a href="/cities/<%= city %>/restaurent">Restaurents</a>
        </div>
        <div class="footerItem">
            <a href="/cities/<%= city %>/foods">Street Foods</a>
        </div>
        <div class="footerItem">
            <a href="/cities/<%= city %>/places">Places to Visit</a>
        </div>
    </div>

    <script>
        const hamburger = document.querySelector('.hamburger');
        const navLink = document.querySelector('.nav__link');

        hamburger.addEventListener('click', () => {
            navLink.classList.toggle('hide');
            document.querySelector(".welcomeHeading").classList.toggle('note')
        });
    </script>
</body>

</html>