<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/story.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Header Section -->
    <div class="container">
        <nav class="nav">
            <a href="#" class="logo">
                <img src="/img/logo1.png" class="logo" alt="" height="100px">
            </a>

            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>

            <div class="nav__link hide">
                <a href="/home">home</a>
                <a href="/cities">City Guide</a>
                <a href="/foodfes">Food Fest</a>
                <a href="/stories">Stories</a>
                <a href="/logout">Log-Out</a>
            </div>
        </nav>
        <!-- City Section -->
        <h1 class="welcomeHeading" id="note">Stories</h1>

        <div class="grid-container">

            <% items.forEach(function(story) { %>
                <div class="item1">
                    <img src="data:image/<%=story.img.contentType%>;base64,
                <%=story.img.data.toString('base64')%> " class="cityImg ">
                    <p class="userName">
                        <%= story.userName %>
                    </p>
                    <hr>
                    <p class="resName">
                        <%= story.restaurentName %>
                    </p>
                    <hr>
                    <p class="resDesc">
                        <%= story.about %>
                    </p>
                </div>
                <% }) %>

        </div>
    </div>

    <div class="secondMainDiv">
        <h2 class="postHeading">Post Your Story</h2>
        <form action="/stories" method="POST" enctype="multipart/form-data">
            <label for="">UserName</label>
            <br>
            <input class="input1" type="text" name="userName" required>
            <br>
            <label for="">Restaurent Name</label>
            <br>
            <input type="text" class="input1" name="restaurentName" required>
            <input type="file" name="image" id="imgInput" required>
            <br>
            <label for="">About</label>
            <br>
            <input type="text" name="about" class="input1" required>
            <input type="submit" class="submitBtn">
        </form>
    </div>
    <script>
        const hamburger = document.querySelector('.hamburger');
        const navLink = document.querySelector('.nav__link');

        hamburger.addEventListener('click', () => {
            navLink.classList.toggle('hide');
            document.querySelector(".welcomeHeading").classList.toggle('note')
        });
    </script>
</body>

</html>